
.color-mine{
     background-color:#f5f5f5;
}
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Home{
    background-image: url('../imgs/hero-bg.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
}
.layer{
    background-color:rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
}
.HomeText h2{
    font-size: 4.5rem;
}
.About{
    background-color:#f5f5f5;
}
.bar h3{
    color: #4e4e4e;
    font-size: 14px;
}
.skills h3{
    font-size: 24px;
}


/* Service Section */
.SERVICES{
    background-color:#f5f5f5;
}

.title h2{
    font-weight: 700;

    
    font-size: 3rem;
    
    font-weight: bold;
    text-transform: uppercase;
}
.cardlayer{
    padding: 50px 30px;
    border-radius: 10%;
}

.icon-border{
    background-color:white;
    padding: 10px 20px;
    margin:10px 5px ;
    font-size: 24px;
    border: solid 10px #007aff;
    transform: translate(50%);
    transition: border 2s;
}
.icon-border i{
    font-size: 30px;
}
.icon-border:hover {
    color: white;
    background-color: #007aff;
    box-shadow: 0 0 0 10px #cde1f8;
}
.cardlayer p{
    font-size: 15px;
}
.cardlayer h3{
    padding: 20px 10px;
    font-size: 1.4rem;
}




/* Number Section */
.Numbers{
    background-image: url("../imgs/post-3.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-size:cover;
    
    height:50vh;
}

.layerNumber{
    background-color: #007bffc8;
    height:50vh;

}
.icon-n{
    border: solid 10px #e0e6ed;
    margin: 0 5px;
}
.icon-n i{
    font-size: 29px;
    color: white;
    
}
.numbertext h4{
    color: white;
    font-size: 15px;
}
.numbertext h3{
    color: white;
    font-size: 24px;
    padding-top: 10px;
}



/* Portfolio */


.title p{
    font-size: 18px;
    font-weight: lighter;
}
.Portfoliocard {
    border:  1px transparent;
    box-shadow: 0 15px 8px -10px rgba(0, 0, 0, 0.1);

}
.PortfolioCard-content{
    font-size: 18px;
    padding: 12px;
    
}
.PortfolioCard-text{
    font-size: 12px;
}
.PortfolioCard-text span{
    color: #007aff;
}
.PortfolioCard-title{
    font-size: 18px;
}
.icon{
    border: #007aff 3px solid;
    border-radius: 50%;
    width: 40px;
    padding: 3px 0px;
}
.icon i{
    color: #007aff;
    font-size: 25px;
    transform: translate(30%);

}
.portimage{
    border:  1px transparent;
    overflow: hidden;
}
.portimage img{
    width: 100%;
    transition: scale ease-in 0.5s;
}

.portimage:hover img{
    scale: 1.25;
}


/* feedback */
.feedbackHome{
    background-image: url("../imgs/overlay-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 3opx;
    background-attachment: fixed;
}
.layerfeedback{
    background-color:rgba(49, 98, 234, 0.772);
    width: 100%;
    height: 100%;
    padding: 30px;
    margin-top: 30px;
    

}
/* feedback */
.feedbackHome{
    background-image: url("../imgs/overlay-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.layerfeedback{
    background-color: #007bffc8;
    width: 100%;
    height: 100%;
}
.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gainsboro;
}
/* .sectonTitle h2::after{
    content: "";
    display: block;
    border: #007aff solid 4px;
    width: 10%;
    height: 10%;
    margin: 0 auto;
} */
.linetitle{
    border-bottom: #007aff 5px solid;
    margin: auto;
    width: 10%;
    height: 10%;
    margin: 0 auto;
}
.linediv{
    border-bottom: #d3d5d770 1px solid;
    margin: auto;
    width: 100%;

}
.profimg{
width: 10%;

}
.profimg img{
    width: 100%;
  
}
.cardleft h4{
   padding-top: 5px;
}
.cardprofile{
    padding: 20px 0 15px 20px;
    background-color: #d3d5d75b;
}
.cardprofile h4 {
    font-size: 15px;
}

.Blog{
    margin-top: 30px;
}


/* message */
.MessageSection{
    background-image: url("../imgs/overlay-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
  
    
}
.linetitle2{
    border-bottom: #007aff 5px solid;
    width: 20%;
    margin: 4px;
    
}
.btnmessage{
    border-radius: 5rem;
    font-size: 20px;
}
.btnmessagediv{
    margin: auto;
}
.form-control{
    padding: 10px 10px;
}
.messagebox{
    width: 80%;
    margin: 30px auto;
    height: 80%;
}
.details{
    list-style: none;
    
}

.details i{
    color: #007aff;
    font-size: 18px;
    padding: 10px;
}
.roundedcircle{
    border: #007aff 4px solid;
    padding: 10px 10px;
    transition: all 0.5 ease-in;
}
.roundedcircle i{
    font-size: 20px;
}

.roundedcircle:hover{
    background-color: #0062d3;
    color: white;
    box-shadow: 0 0 0 5px #cde1f8;
}

/* footer */

.footer {
    padding: 20px;
    background-color: #0062d3;
    color: white;
    text-align: center;
}